<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuarios</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <div>
        <form action="" id="formularioRegistro">
            <label for="usuario">Usuario: </label>
            <input type="text" name="usuario" id="usuario"><br>
            <label for="contrasenia">Contrasenia: </label>
            <input type="text" name="contrasenia" id="contrasenia"><br>
            <label for="mail">E-mail:</label>
            <input type="text" name="mail" id="mail"><br>
            <button type="submit" onclick="obtenerDatosRegistro()">Registrarse</button>
        </form>
    </div>
    
<script src="pventa.js"></script>
</body>
</html>